*{
    margin: 0;
    padding: 0;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color:#ffffff;
    padding-top: 16px;
}
.btn{
    /* border: 1px solid red; */
    background-color: #30B868;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
    display: inline-flex;
    padding: 12px 16px;
    gap: 10px;
    color: #FFFFFF;
    font-weight:500px ;
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn img{
    /* border: 1px solid; */
    font-size: 15px;
}

#card{
    /* border: 1px solid; */
    margin: 0 120px;
    margin-top: 44px;
    text-align: center;
    display: flex;
    gap: 24px;

}

.main-head{
    /* border: 1px solid; */
    text-align: center;
}
.main-head h2{
    font-size: 48px;
}

.main-head p{
    font-size: 16px;
    color: #627382;
}

.card-box{
    /* border: 1px solid; */
    box-shadow: 0 -50px 30px #0000001A ;
    width: 322px;
    height: 300px;
    padding-top: 60px;
   
}
.card-box h3{
    padding-top: 16px;
}
.card-box p{
    color: #627382;
    padding-top: 16px;
    margin: 24px;
}

.card-box img{
   
    /* border: 1px solid; */
    background-color: #f95555;
    border-radius: 40px;
    width: 32px;
    height: 32px;
    padding: 15px;
    
}

.check-box{
    padding-top: 16px;
    /* border: 1px solid; */
}

.check-box li{
    list-style: none;
    gap: 6px;
}
.check-box li i{
    color: #30B868;
     gap: 6px;
}

#second-box{
    /* border: 1px solid red; */
    margin: 0 120px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.idea img{
    /* border: 1px solid greenyellow; */
    width: 450px;
    height: 450px;
}


.second-brain span{
    color: #30B868;
    font-size: 12px;
    padding-top: 16px;
}

.second-brain h1{
    font-size: 48px;
}

.second-brain p{
    color: #627382;
    padding-top: 16px;
}

#bc-color{
    border-radius: 10px;
    /* border: 1px solid; */
    background-color: #f5f0b41f;
    margin: 0 120px;
    text-align: center;
    height: 250px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.thard-box h2{
    font-size: 40px;
    margin-bottom: 24px;
}
.thard-box p{
    color: #627382;
    /* border: 1px solid; */
    margin-left: 40px;
    font-size: 16px;
}
.section-3{
    padding-top: 120px;
}

footer{
    padding-top: 120px;
    background-color: #001931;
    margin-top: 120px;
    padding: 30px;
}

#four-part .four-child{
    /* border: 1px solid red; */
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 50px;
    
}
.footer-icon h3{
    color: white;
    /* border: 1px solid gold; */
    padding: 10px;
}


.footer-icon i{
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 25px;
    padding: 10px 11px;
}

.footer-use{
    padding-top: 10px;
    text-align: center;
    color: white;

}